In [6]:
# Load the CSV file into a data frame
my_data <- read.csv("Activity.csv")

In [7]:
my_data

   Activity Form TO  Duration Type
1  A1       A1   A2   7       FS
2  A2       A1   A3  10       SS
3  A3       A2   A4  13       FS
4  A4       A2   A5  16       FS
5  A5       A3   A5  19       FF
6  A6       A4   A6  22       FS
7  A7       A6   A7  25       FS
8  A8       A6   A8  28       FS
9  A9       A7   A9  31       FS
10 A10      A8   A9  34       FS
11          A9   A10 37       FS

In [15]:
library(igraph)

ERROR: Error: package or namespace load failed for 'igraph' in inDL(x, as.logical(local), as.logical(now), ...):
 unable to load shared object 'C:/Users/MY PC/miniconda3/envs/hypothisis_test/lib/R/library/igraph/libs/x64/igraph.dll':
  LoadLibrary failure:  The specified procedure could not be found.

In [4]:
activity<-c(my_data['Activity'])
Duration<-c(my_data['Duration'])

In [8]:
relationships <- data.frame(
    from = c(my_data['Form']),
    to = c(my_data['TO']),
    type =c(my_data['Type'])
)

In [14]:
graph <- graph_from_data_frame(relationships, directed = TRUE)

ERROR: Error in graph_from_data_frame(relationships, directed = TRUE): could not find function "graph_from_data_frame"