<h1 style="font-size:36px">R data type</h1>

Numeric: This data type includes numbers with decimal places or without decimal places. For example, 3.14 or 2.

Integer: This data type includes whole numbers. For example, 4, 6, 7.

Character: This data type includes text or strings. For example, "Hello", "World".

Logical: This data type includes TRUE and FALSE values.

Date: This data type includes dates in a specific format. For example, "2023-03-02".

Time: This data type includes time in a specific format. For example, "12:30:45".

Factor: This data type includes categorical variables. For example, "Male" or "Female".

Complex: This data type includes complex numbers with real and imaginary parts.

Raw: This data type includes raw bytes of data.

<h1 style="font-size:36px">Python data type</h1>

Integer: Integers are whole numbers, such as 1, 2, 3, etc. In Python, integers are represented by the int data type.

Float: Floats are numbers with decimal points, such as 1.0, 2.5, 3.14, etc. In Python, floats are represented by the float data type.

Boolean: Booleans represent True or False values. In Python, booleans are represented by the bool data type.

String: Strings are sequences of characters, such as "hello", "world", "Python", etc. In Python, strings are represented by the str data type.

List: Lists are ordered collections of elements. The elements can be of any data type, and they can be added, removed, or modified. In Python, lists are represented by the list data type.

Tuple: Tuples are similar to lists, but they are immutable, meaning their elements cannot be changed once they are created. In Python, tuples are represented by the tuple data type.

Dictionary: Dictionaries are unordered collections of key-value pairs. The keys must be unique and immutable, and the values can be of any data type. In Python, dictionaries are represented by the dict data type.

Set: Sets are unordered collections of unique elements. They can be used to perform mathematical set operations such as union, intersection, and difference. In Python, sets are represented by the set data type.

<h1 style="font-size:36px">data structure of R</h1>

Vectors: A vector is a one-dimensional array that can hold data of the same type, such as numbers or characters.

Matrices: A matrix is a two-dimensional array that can hold data of the same type. It is similar to a vector but with rows and columns.

Data frames: A data frame is a two-dimensional table-like structure where each column can contain different types of data. It is commonly used to store data in a spreadsheet format.

Lists: A list is a collection of objects of different types, such as vectors, matrices, or data frames.

Factors: A factor is a vector that contains categorical data, such as levels of a variable.

Arrays: An array is a multidimensional data structure that can hold data of the same type.

Tables: A table is a data structure used for counting and tabulating data. It is often used for frequency tables or contingency tables.

In [41]:
#Vectors
y <- c("apple", "banana", "orange")
#Matrices
x <- matrix(c(1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12), nrow=3, ncol=4);x
x[2, 3]
rowMeans(x)
#Data frames
df <- data.frame(
  name = c("John", "Sarah", "Adam", "Lisa"),
  age = c(25, 30, 35, 40),
  gender = c("Male", "Female", "Male", "Female"),
  salary = c(50000, 60000, 70000, 80000)
)
#Lists
x <- list(c(1, 2, 3), c("apple", "banana", "orange"), matrix(1:9, nrow=3))
#Factors
x <- factor(c("red", "green", "blue", "red", "blue", "green"));levels(x)
#Arrays:
x <- array(1:24, dim=c(2, 3, 4))
x[1, 2, 3]
#Tables
x <- c("red", "blue", "green", "red", "red", "green", "blue", "blue", "red")
y <- c("small", "medium", "medium", "large", "small", "medium", "large", "large", "medium")
table(x, y)

     [,1] [,2] [,3] [,4]
[1,] 1    4    7    10
[2,] 2    5    8    11
[3,] 3    6    9    12

[1] 8

[1] 5.5 6.5 7.5

[1] "blue"  "green" "red"

[1] 15

       y
x       large medium small
  blue      2      1     0
  green     0      2     0
  red       1      1     2

<h1 style="font-size:36px">data structure of python</h1>

Lists: A list is a mutable, ordered collection of elements, which can be of any data type.

Tuples: A tuple is an immutable, ordered collection of elements, which can be of any data type.

Sets: A set is an unordered collection of unique elements, which can be of any data type.

Dictionaries: A dictionary is an unordered collection of key-value pairs, which can be of any data type.

Strings: A string is a sequence of characters, which is immutable in Python.

Arrays: An array is a collection of elements of the same data type.

Python also provides specialized data structures for working with specific types of data, such as:

Deques: A deque is a double-ended queue that allows adding and removing elements from both ends efficiently.

Stacks: A stack is a collection of elements that follows the LIFO (Last-In-First-Out) principle.

Queues: A queue is a collection of elements that follows the FIFO (First-In-First-Out) principle.

Heaps: A heap is a tree-based data structure that allows efficient insertion, deletion, and retrieval of the minimum or maximum element.

Heaps:

In Python, a heap is a binary tree data structure that satisfies the heap property: the value of each node is greater than or equal to (in a max-heap) or less than or equal to (in a min-heap) the values of its children.
Heaps are commonly used in algorithms such as heap sort, priority queues, and graph algorithms like Dijkstra's algorithm.

In [4]:
import heapq
data = [3, 1, 4, 1, 5, 9, 2, 6, 5, 3, 5]
# convert the list to a max-heap
heapq.heapify(data)
#to add the value 7 to the heap, you can use the heappush()
heapq.heappush(data, 7)
#You can then use the heappop() function to remove and return the top element of the heap:
top_element = heapq.heappop(data)

In [ ]:
Queues

In Python, a queue is a data structure that allows elements to be inserted at one end (the rear) and removed from the other end (the front). The first element inserted is the first to be removed, following the principle of First-In-First-Out (FIFO).

In [7]:
import queue
# create a queue
q = queue.Queue()

q.put(1)
q.put(2)
q.put(3)

x = q.get() # x = 1
y = q.get() # y = 2
z = q.get() # z = 3

stack

In Python, a stack is a data structure that allows elements to be inserted and removed only from one end, called the top of the stack. The last element inserted is the first to be removed, following the principle of Last-In-First-Out (LIFO).

Python provides several built-in modules for implementing stacks, including list and deque. The choice of module depends on the specific application and requirements.

In [8]:
# create an empty stack
stack = []

# push elements onto the stack
stack.append(1)
stack.append(2)
stack.append(3)

# pop elements from the stack
x = stack.pop() # x = 3
y = stack.pop() # y = 2
z = stack.pop() # z = 1

Deques

a deque is a data structure that allows elements to be inserted and removed from both ends of the sequence.
The name "deque" stands for "double-ended queue", and it provides the benefits of both stacks and queues.

In [11]:
from collections import deque
# create an empty deque
d = deque()
d.append(1)
d.append(2)
d.append(3)
d.appendleft(0)
d
x = d.pop() # x = 3
y = d.popleft() # y = 0

In [12]:
d

deque([1, 2])

Arrays

In Python, an array is a collection of elements of the same data type, which are stored in contiguous memory locations. 
unlike in other programming languages like C, arrays in Python are not a built-in data type. Instead

Python provides lists, tuples, and NumPy arrays to handle arrays.

### lists

#### lists A list can contain elements of different data types, and it's mutable, which means you can change its elements after it's created. Lists are created using square brackets [] or the list() function.

Ordered: The items in a list are ordered, which means that they have a specific position or index within the list.

Mutable: Lists are mutable, which means that you can change, add or remove items from them after they have been created.

Heterogeneous: Lists can contain elements of different data types, such as integers, floats, strings, and even other lists.

Nesting: You can nest lists within other lists to create more complex data structures.

Dynamic: Lists are dynamic, which means that you can add or remove items from them as needed.

Indexing and Slicing: You can access individual items in a list using their index, and you can extract a subset of a list using slicing.

Built-in methods: Lists have a number of built-in methods for working with their contents, including append(), remove(), sort(), count(), and many others.

In [ ]:
my_list = [1, 2, 3, 4, 5]

In [26]:
my_list = ['apple', 'banana', 'orange']
print(my_list[0])
print(my_list[-1]) 
print(my_list[0:2])
print(len(my_list))

apple
orange
['apple', 'banana']
3

In [25]:
list1 = ['apple', 'banana']
list2 = ['orange', 'grape']

my_list = list1 + list2

print(my_list)

['apple', 'banana', 'orange', 'grape']

In [33]:
my_list = ['apple', 'banana', 'orange']

my_list.append('pear')
my_list.insert(4, 'wer')
my_list.remove('banana')
print('banana' in my_list)

for element in my_list:
    print(element)

print(my_list)

False
apple
orange
pear
wer
['apple', 'orange', 'pear', 'wer']

In [2]:
matrix = [
    [1, 2, 3],
    [4, 5, 6],
    [7, 8, 9]
]

# access nested list values
print(matrix[0])  # output: [1, 2, 3]
print(matrix[1][1])  # output: 5
print(matrix[2][0])  # output: 7

[1, 2, 3]
5
7

#### Tuples

Tuples
Tuples are similar to lists, but they are immutable, which means you cannot change their elements once they are created. Tuples are created using parentheses () or the tuple() function.

Ordered: The items in a tuple are ordered, which means that they have a specific position or index within the tuple.

Immutable: Tuples are immutable, which means that you cannot change the values of the elements in a tuple after it has been created. However, you can create a new tuple by concatenating existing tuples or by creating a slice.

Heterogeneous: Tuples can contain elements of different data types, such as integers, floats, strings, and even other tuples.

Nesting: You can nest tuples within other tuples to create more complex data structures.

Packing and Unpacking: You can "pack" multiple values into a tuple using parentheses, and "unpack" the values into separate variables using multiple assignment.

Functions and Methods: Tuples have a number of built-in functions and methods for working with their contents, such as len(), count(), and index().

In Python, you can "pack" multiple values into a tuple using parentheses, and "unpack" the values into separate variables using multiple assignment.

In [3]:
# packing values into a tuple
my_tuple = 1, 2, 3
print(my_tuple)  # output: (1, 2, 3)

# unpacking values from a tuple
x, y, z = my_tuple
print(x)  # output: 1
print(y)  # output: 2
print(z)  # output: 3

(1, 2, 3)
1
2
3

In [14]:
my_tuple = (1, 2, 3, 4, 5)

In [22]:
my_tuple = ('apple', 'banana', 'orange')
print(my_tuple[0])
print(my_tuple[-1])
print(my_tuple[0:2]) 
print(len(my_tuple))
print('banana' in my_tuple)

apple
orange
('apple', 'banana')
3
True

In [23]:
for element in my_tuple:
    print(element)

apple
banana
orange

In [21]:
tuple1 = ('apple', 'banana')
tuple2 = ('orange', 'grape')

my_tuple = tuple1 + tuple2

print(my_tuple)

('apple', 'banana', 'orange', 'grape')

### NumPy

NumPy Arrays: NumPy is a powerful library for scientific computing in Python.
It provides a high-performance multidimensional array object, which is called ndarray.
NumPy arrays are homogeneous,
which means they can only contain elements of the same data type.

In [15]:
import numpy as np
my_array = np.array([1, 2, 3, 4, 5])

Sets:
a set is an unordered collection of unique elements.
Sets are useful when you want to store unique values and perform set operations such as union, intersection, and difference.

In [16]:
my_set = {1, 2, 3, 4, 5}
my_set = set([1, 2, 3, 4, 5])

### Dictionaries:

a dictionary is a collection of key-value pairs, where each key is unique and mapped to a corresponding value. Dictionaries are useful when you want to store data that can be accessed quickly by a unique identifier.

In [17]:
my_dict = {'apple': 1, 'banana': 2, 'orange': 3}
my_dict = dict(apple=1, banana=2, orange=3)

In [36]:
print(my_dict['apple'])
print(my_dict.get('name')) 
my_dict['apple'] = 1
del my_dict['banana']

1
None

In [37]:
my_dict = {'name': 'John', 'age': 25, 'city': 'New York'}

if 'age' in my_dict:
    print('Age is present')
else:
    print('Age is not present')

Age is present

In [38]:
my_dict = {'name': 'John', 'age': 25, 'city': 'New York'}

for key, value in my_dict.items():
    print(key, value)

name John
age 25
city New York

In [ ]:

print(my_dict.get('name'))

Mutable: Dictionaries are mutable, which means you can modify, add or remove items from them after they have been created.

Unordered: The items in a dictionary are unordered, which means that the items have no specific order.

Unique Keys: The keys in a dictionary must be unique. If you add a key that already exists, the new value will replace the old one.

Key-Value pairs: A dictionary is a collection of key-value pairs, where each key is associated with a value. You can access the value of a key by using the key as an index.

Dynamic: Dictionaries are dynamic, which means that you can add or remove items from them as needed.

Nesting: You can nest dictionaries within other dictionaries to create more complex data structures.

Built-in methods: Dictionaries have a number of built-in methods for working with their contents, including keys(), values(), and items(), among others.

In [4]:
# create a nested dictionary
employee = {
    "name": "John Doe",
    "age": 30,
    "position": "Developer",
    "contact_info": {
        "email": "john.doe@example.com",
        "phone": "555-1234",
        "address": {
            "street": "123 Main St",
            "city": "Anytown",
            "state": "CA",
            "zip": "12345"
        }
    }
}

# access nested dictionary values
print(employee["name"])  # output: John Doe
print(employee["contact_info"]["email"])  # output: john.doe@example.com
print(employee["contact_info"]["address"]["city"])  # output: Anytown

John Doe
john.doe@example.com
Anytown

### Strings

Immutable: Strings are immutable, which means that you cannot change the characters in a string after it has been created. However, you can create a new string by concatenating existing strings or by creating a slice.

Indexing and Slicing: You can access individual characters or substrings within a string using indexing and slicing.

Concatenation: You can concatenate two or more strings together using the + operator.

Multiplication: You can repeat a string multiple times using the * operator.

Formatting: You can format strings using placeholders and format specifiers to insert variables or values into a string.

Functions and Methods: Strings have a number of built-in functions and methods for working with their contents, such as len(), split(), join(), and upper().

Unicode: In Python 3.x, strings are Unicode by default, which means that they can represent characters from any language or writing system.

A string is a sequence of characters enclosed in either single quotes ('...') or double quotes ("..."). Strings are immutable,

In [18]:
my_string = 'Hello, world!'

my_list = my_string.split(',')

print(my_list)

['Hello', ' world!']

### dataframe in R

In R, a dataframe is a two-dimensional data structure where the data is organized in rows and columns.

In [1]:
df <- data.frame(
  name = c("John", "Sarah", "Adam", "Lisa"),
  age = c(25, 30, 35, 40),
  gender = c("Male", "Female", "Male", "Female"),
  salary = c(50000, 60000, 70000, 80000)
)

Subsetting:You can subset a dataframe to extract a subset of rows or columns based on specific criteria.
df[row,colloumn]

In [14]:
df[1:2, ];df[1:2,1] ;df[1:4,1] ;df[1:4,];df[ ,c("name","gender")]

  name  age gender salary
1 John  25  Male   50000
2 Sarah 30  Female 60000

[1] "John"  "Sarah"

[1] "John"  "Sarah" "Adam"  "Lisa"

  name  age gender salary
1 John  25  Male   50000
2 Sarah 30  Female 60000
3 Adam  35  Male   70000
4 Lisa  40  Female 80000

  name  gender
1 John  Male
2 Sarah Female
3 Adam  Male
4 Lisa  Female

Filtering: You can filter a dataframe to extract rows based on specific conditions

In [15]:
subset(df, age > 30)

  name age gender salary
3 Adam 35  Male   70000
4 Lisa 40  Female 80000

Sorting:You can sort a dataframe based on specific column(s) using the order() function

In [16]:
df[order(df$age), ]

  name  age gender salary
1 John  25  Male   50000
2 Sarah 30  Female 60000
3 Adam  35  Male   70000
4 Lisa  40  Female 80000

Aggregating:The aggregate() function can be used to group data based on specific column(s) and apply the aggregation function(s).

In [19]:
aggregate(salary ~ gender, data = df, max)

  gender salary
1 Female 80000
2 Male   70000

In [ ]:
Reshaping: You can reshape a dataframe from wide to long format or vice versa using the

In [20]:
idyr::gather(df, key = "variable", value = "value", -name)

ERROR: Error in loadNamespace(x): there is no package called 'idyr'

Machine learning

In [21]:
data(mtcars)

In [22]:
mtcars$mpg_high <- ifelse(mtcars$mpg > 20, 1, 0)

In [24]:
mtcars

                    mpg  cyl disp  hp  drat wt    qsec  vs am gear carb
Mazda RX4           21.0 6   160.0 110 3.90 2.620 16.46 0  1  4    4
Mazda RX4 Wag       21.0 6   160.0 110 3.90 2.875 17.02 0  1  4    4
Datsun 710          22.8 4   108.0  93 3.85 2.320 18.61 1  1  4    1
Hornet 4 Drive      21.4 6   258.0 110 3.08 3.215 19.44 1  0  3    1
Hornet Sportabout   18.7 8   360.0 175 3.15 3.440 17.02 0  0  3    2
Valiant             18.1 6   225.0 105 2.76 3.460 20.22 1  0  3    1
Duster 360          14.3 8   360.0 245 3.21 3.570 15.84 0  0  3    4
Merc 240D           24.4 4   146.7  62 3.69 3.190 20.00 1  0  4    2
Merc 230            22.8 4   140.8  95 3.92 3.150 22.90 1  0  4    2
Merc 280            19.2 6   167.6 123 3.92 3.440 18.30 1  0  4    4
Merc 280C           17.8 6   167.6 123 3.92 3.440 18.90 1  0  4    4
Merc 450SE          16.4 8   275.8 180 3.07 4.070 17.40 0  0  3    3
Merc 450SL          17.3 8   275.8 180 3.07 3.730 17.60 0  0  3    3
Merc 450SLC         15.2 8   275.8 180 3.07 3.780 18.00 0  0  3    3
Cadillac Fleetwood  10.4 8   472.0 205 2.93 5.250 17.98 0  0  3    4
Lincoln Continental 10.4 8   460.0 215 3.00 5.424 17.82 0  0  3    4
Chrysler Imperial   14.7 8   440.0 230 3.23 5.345 17.42 0  0  3    4
Fiat 128            32.4 4    78.7  66 4.08 2.200 19.47 1  1  4    1
Honda Civic         30.4 4    75.7  52 4.93 1.615 18.52 1  1  4    2
Toyota Corolla      33.9 4    71.1  65 4.22 1.835 19.90 1  1  4    1
Toyota Corona       21.5 4   120.1  97 3.70 2.465 20.01 1  0  3    1
Dodge Challenger    15.5 8   318.0 150 2.76 3.520 16.87 0  0  3    2
AMC Javelin         15.2 8   304.0 150 3.15 3.435 17.30 0  0  3    2
Camaro Z28          13.3 8   350.0 245 3.73 3.840 15.41 0  0  3    4
Pontiac Firebird    19.2 8   400.0 175 3.08 3.845 17.05 0  0  3    2
Fiat X1-9           27.3 4    79.0  66 4.08 1.935 18.90 1  1  4    1
Porsche 914-2       26.0 4   120.3  91 4.43 2.140 16.70 0  1  5    2
Lotus Europa        30.4 4    95.1 113 3.77 1.513 16.90 1  1  5    2
Ford Pantera L      15.8 8   351.0 264 4.22 3.170 14.50 0  1  5    4
Ferrari Dino        19.7 6   145.0 175 3.62 2.770 15.50 0  1  5    6
Maserati Bora       15.0 8   301.0 335 3.54 3.570 14.60 0  1  5    8
Volvo 142E          21.4 4   121.0 109 4.11 2.780 18.60 1  1  4    2
                    mpg_high
Mazda RX4           1
Mazda RX4 Wag       1
Datsun 710          1
Hornet 4 Drive      1
Hornet Sportabout   0
Valiant             0
Duster 360          0
Merc 240D           1
Merc 230            1
Merc 280            0
Merc 280C           0
Merc 450SE          0
Merc 450SL          0
Merc 450SLC         0
Cadillac Fleetwood  0
Lincoln Continental 0
Chrysler Imperial   0
Fiat 128            1
Honda Civic         1
Toyota Corolla      1
Toyota Corona       1
Dodge Challenger    0
AMC Javelin         0
Camaro Z28          0
Pontiac Firebird    0
Fiat X1-9           1
Porsche 914-2       1
Lotus Europa        1
Ford Pantera L      0
Ferrari Dino        0
Maserati Bora       0
Volvo 142E          1

In [26]:
library(caret)

Loading required package: ggplot2

Loading required package: lattice

Split the data: We'll split the data into a training set (80% of the data) and a testing set (20% of the data).

In [27]:
set.seed(123)
train_index <- createDataPartition(mtcars$mpg_high, p = 0.8, list = FALSE)
train_data <- mtcars[train_index, ]
test_data <- mtcars[-train_index, ]

Train the model: We'll use logistic regression to train the model on the training set. We'll use the glm() function to fit a logistic regression model to the data.

In [28]:
model <- glm(mpg_high ~ hp + cyl, data = train_data, family = "binomial")

Warning message:
"glm.fit: algorithm did not converge"
Warning message:
"glm.fit: fitted probabilities numerically 0 or 1 occurred"

In [30]:
predictions <- predict(model, newdata = test_data, type = "response")

In [33]:
test_data$mpg_high <- factor(train_data$mpg_high, levels = levels(test_data$mpg_high))

ERROR: Error in `$<-.data.frame`(`*tmp*`, mpg_high, value = structure(c(NA_integer_, : replacement has 26 rows, data has 6

In [31]:
confusionMatrix(predictions > 0.5, test_data$mpg_high)

ERROR: Error: `data` and `reference` should be factors with the same levels.

### numpy

In [2]:
import numpy as np

#### What’s the difference between a Python list and a NumPy array

 NumPy arrays are more memory-efficient, faster, and more versatile than Python lists for numerical computations. However, Python lists are more flexible in terms of the types of data they can store,

#### Data Types:

Python lists can contain elements of any data type, including mixed types. In contrast, NumPy arrays are homogeneous, meaning that all elements must be of the same data type.

##### Memory Usage:

 NumPy arrays are more memory-efficient than Python lists.

In a Python list, each element is a complete Python object with its own memory allocation.

 NumPy arrays store homogeneous data in a contiguous block of memory, which reduces memory usage and improves performance.

#### Performance:

 NumPy arrays are faster than Python lists for certain operations. NumPy is built using C and Fortran, which are faster than Python for numerical computations. NumPy also provides a number of optimized functions for performing common array operations.

#### Indexing and Slicing:

NumPy arrays support more advanced indexing and slicing operations than Python lists.

#### Mathematical Operations

NumPy provides many built-in mathematical functions that can be performed on arrays. These functions are optimized for performance and can be used to perform operations on large arrays quickly and efficiently.

### How to create a basic array

#### one dimensonala aarrray

A one-dimensional array in NumPy is a collection of elements that are arranged in a single row or a single column. It is also called a 1D array or a vector.

In [10]:
a = np.array([1, 2, 3])
print(a)

[1 2 3]

#### two dimensonala aarrray

A two-dimensional array in NumPy is a collection of elements that are arranged in a grid with rows and columns. It is also called a 2D array or a matrix.

In [6]:
# create a 2D array
a = np.array([[1, 2, 3], [4, 5, 6], [7, 8, 9],[7, 6,0]])
print(a)

[[1 2 3]
 [4 5 6]
 [7 8 9]
 [7 6 0]]

In this example, we have a 3x3 array with three rows and three columns. Each element in the array can be accessed using

it is arrange in stackwise

#### three dimensonala aarrray

A 3D ndarray can represent a 3D array or a set of 2D arrays. It has three dimensions, such as height, width, and depth.

In [9]:
my_array = np.array([
    [[1, 2, 3], [4, 5, 6], [7, 8, 9]],
    [[10, 11, 12], [13, 14, 15], [16, 17, 18]],
    [[19, 20, 21], [22, 23, 24], [25, 26, 27]],[[19, 27, 21], [22, 23, 24], [25, 26, 27]]
])

print(my_array)

[[[ 1  2  3]
  [ 4  5  6]
  [ 7  8  9]]

 [[10 11 12]
  [13 14 15]
  [16 17 18]]

 [[19 20 21]
  [22 23 24]
  [25 26 27]]

 [[19 27 21]
  [22 23 24]
  [25 26 27]]]

three separate 2D arrays stacked vertically

Nd array

A stack is a data structure that follows the Last-In-First-Out (LIFO) principle, meaning that the last element added to the stack is the first element to be removed. In NumPy, we can use the numpy.ndarray data structure to represent a stack.

#### dimensions

ndarray.ndim is an attribute of the NumPy ndarray object that returns the number of dimensions (i.e., the rank) of the array. For example, a 1D array would have a ndim of 1, a 2D array would have a ndim of 2, and so on.

#### size

ndarray.size is an attribute of the NumPy ndarray object that returns the number of elements in the array. In other words, it returns the total size of the array, which is the product of the sizes of all its dimensions.

#### shape

return a tuple of integers representing the number of elements along each dimension of the array.

In [11]:

arr = np.array([[1, 2, 3], [4, 5, 6]])
print(arr.shape)

(2, 3)

In this case, arr is a 2-dimensional array with 2 rows and 3 columns. Therefore, arr.shape returns a tuple with two elements: (2, 3).

In [12]:
my_array = np.array([
    [[1, 2, 3], [4, 5, 6], [7, 8, 9]],
    [[10, 11, 12], [13, 14, 15], [16, 17, 18]],
    [[19, 20, 21], [22, 23, 24], [25, 26, 27]],[[19, 27, 21], [22, 23, 24], [25, 26, 27]]
])

print(my_array.shape)

(4, 3, 3)

In this case, my_array is a 3-dimensional NumPy array with 4 matrices, each of size 3x3. Therefore, my_array.shape returns a tuple with three elements: (4, 3, 3).

### Reshape an array and flattening

will give a new shape to an array without changing the data. Just remember that when you use the reshape method, the array you want to produce needs to have the same number of elements as the original array.

In [20]:
a = np.arange(6)
print(a)
b = a.reshape(3, 2)
print(b)

[0 1 2 3 4 5]
[[0 1]
 [2 3]
 [4 5]]

In [21]:
my_array = np.array([
    [[1, 2, 3], [4, 5, 6], [7, 8, 9]],
    [[10, 11, 12], [13, 14, 15], [16, 17, 18]],
    [[19, 20, 21], [22, 23, 24], [25, 26, 27]],[[19, 27, 21], [22, 23, 24], [25, 26, 27]]
])

print(my_array.shape)

(4, 3, 3)

In [24]:
b =my_array.reshape(12,3) # 2d

In [26]:
b =my_array.reshape(4,9) # 2d

In [28]:
b =my_array.reshape(36) # 1d

In [29]:
print(b)

[ 1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24
 25 26 27 19 27 21 22 23 24 25 26 27]

In [30]:
c=b.reshape(3,12) # 2d
print(c)

[[ 1  2  3  4  5  6  7  8  9 10 11 12]
 [13 14 15 16 17 18 19 20 21 22 23 24]
 [25 26 27 19 27 21 22 23 24 25 26 27]]

for 3d we need consider number of matrix 1st of all

In [31]:
d=c.reshape(3,4,3)

#### flatten()

The flatten() function returns a copy of the array collapsed into one dimension. The original array remains unchanged. This means that any changes made to the flattened array will not affect the original array.

In [48]:
import numpy as np

arr = np.array([[1, 2, 3], [4, 5, 6]])

flattened_arr = arr.flatten()

print(flattened_arr)  # output: [1 2 3 4 5 6]

[1 2 3 4 5 6]

the ravel() function also returns a flattened array, but it returns a view of the original array whenever possible. This means that any changes made to the flattened array will affect the original array as well.

In [49]:
arr = np.array([[1, 2, 3], [4, 5, 6]])

ravelled_arr = arr.ravel()

ravelled_arr[0] = 0

print(arr)

[[0 2 3]
 [4 5 6]]

### reverse an array

The np.flip() function is a NumPy function that is used to reverse the order of elements in a NumPy array along a specified axis.

In [50]:
import numpy as np

arr = np.array([[1, 2, 3], [4, 5, 6]])

flipped_arr = np.flip(arr)

print(flipped_arr)

[[6 5 4]
 [3 2 1]]

The default axis value is -1, which means that the function reverses the order of the elements along the last axis

we pass axis=0 to the np.flip() function, which means that the function reverses the order of the elements along the first axis (i.e., the rows in this case).

In [71]:
arr = np.array([[1, 2, 3,4], [4, 5, 6,9]])

flipped_arr_0 = np.flip(arr, axis=0) #pivot point row
flipped_arr_1 = np.flip(arr, axis=1) #pivot point colloumn
flipped_arr_3 = np.flip(arr, axis=-1) #pivot point 


print(flipped_arr_3)
print(flipped_arr_1)
print(flipped_arr_0)

[[4 3 2 1]
 [9 6 5 4]]
[[4 3 2 1]
 [9 6 5 4]]
[[4 5 6 9]
 [1 2 3 4]]

In [78]:
my_array = np.array([
    [[1, 2, 3], [4, 5, 6], [7, 8, 9]],
    [[10, 11, 12], [13, 14, 15], [16, 17, 18]],
    [[19, 20, 21], [22, 23, 24], [25, 26, 27]],[[19, 27, 21], [22, 23, 24], [25, 26, 27]]
])

flipped_arr_1 = np.flip(my_array, axis=0)

print(my_array)

[[[ 1  2  3]
  [ 4  5  6]
  [ 7  8  9]]

 [[10 11 12]
  [13 14 15]
  [16 17 18]]

 [[19 20 21]
  [22 23 24]
  [25 26 27]]

 [[19 27 21]
  [22 23 24]
  [25 26 27]]]

In [79]:
print(flipped_arr_1)

[[[19 27 21]
  [22 23 24]
  [25 26 27]]

 [[19 20 21]
  [22 23 24]
  [25 26 27]]

 [[10 11 12]
  [13 14 15]
  [16 17 18]]

 [[ 1  2  3]
  [ 4  5  6]
  [ 7  8  9]]]

## (number of matrix ,rows ,colloumn)

In [32]:
print(d)

[[[ 1  2  3]
  [ 4  5  6]
  [ 7  8  9]
  [10 11 12]]

 [[13 14 15]
  [16 17 18]
  [19 20 21]
  [22 23 24]]

 [[25 26 27]
  [19 27 21]
  [22 23 24]
  [25 26 27]]]

#### Basic array operations

In [40]:
data = np.array([1, 2])
ones = np.ones(2, dtype=int)
sum=data + ones
diff=data - ones
multi=data * ones
divi=data/ ones
print(data)
print(ones)
print(divi)

[1 2]
[1 1]
[1. 2.]

### Broadcasting

Broadcasting is a concept in NumPy that allows arrays with different shapes to be used in arithmetic operations. In broadcasting, NumPy automatically adjusts the shapes of the arrays to make the arithmetic operation possible.

In [42]:
a = np.array([1, 2, 3])
b = 2

result = a + b
result_1 = a * b
result_2 = a / b
result_3 = a - b
print(result_3)

[-1  0  1]

#### use of basic oparation

In [ ]:
this is the mean square error formula (a central formula used in supervised machine learning models that deal with regression

In [46]:
predictin=np.array([1,2,3,4,5,6,7,2,3,4,5,6,12])
labels=np.array([18,2,39,4,59,69,7,2,93,49,5,6,12])
count = np.count_nonzero(labels)
mean_square_error=(1/count)*np.sum(np.square(predictin-labels))
print(count)

13

In [47]:
mean_square_error

1430.3846153846155

In [ ]:
Descriptive

### matrices oparation

Addition and Subtraction: Matrices of the same size can be added or subtracted by adding or subtracting the corresponding elements.

In [3]:
matrix1 = np.array([[1, 2], [3, 4]])
matrix2 = np.array([[5, 6], [7, 8]])

addition = matrix1 + matrix2
subtraction = matrix1 - matrix2

print(addition)
print(subtraction)

[[ 6  8]
 [10 12]]
[[-4 -4]
 [-4 -4]]

Scalar Multiplication: A matrix can be multiplied by a scalar (a single number) by multiplying each element of the matrix by the scalar.

In [10]:
matrix = np.array([[1, 2], [3, 4]])

# multiply the matrix by a scalar
scalar = 2
result = scalar * matrix

print(result)

[[2 4]
 [6 8]]

Matrix Multiplication: Two matrices can be multiplied together if the number of columns in the first matrix is equal to the number of rows in the second matrix. The resulting matrix has the same number of rows as the first matrix and the same number of columns as the second matrix.

In [4]:
matrix1 = np.array([[1, 2], [3, 4]])
matrix2 = np.array([[5, 6], [7, 8]])

multiplication = np.dot(matrix1, matrix2)

print(multiplication)

[[19 22]
 [43 50]]

Transpose: The transpose of a matrix is obtained by interchanging its rows and columns.

In [5]:
matrix = np.array([[1, 2, 3], [4, 5, 6]])

transpose = np.transpose(matrix)

print(transpose)

[[1 4]
 [2 5]
 [3 6]]

Inverse: The inverse of a square matrix is a matrix that, when multiplied by the original matrix, produces the identity matrix (a matrix with ones along the diagonal and zeros everywhere else). Not all matrices have inverses, and those that do not are called singular or non-invertible.

In [6]:
matrix = np.array([[1, 2], [3, 4]])

inverse = np.linalg.inv(matrix)

print(inverse)

[[-2.   1. ]
 [ 1.5 -0.5]]

Determinant: The determinant of a square matrix is a scalar value that can be computed from its elements. It has various applications in linear algebra and calculus.

In [7]:
import numpy as np

# create a 2x2 matrix
matrix = np.array([[1, 2], [3, 4]])

# compute the determinant
det = np.linalg.det(matrix)

print(det)

-2.0000000000000004

Eigenvalues and Eigenvectors: Eigenvalues and eigenvectors are a pair of numbers and vectors, respectively, that are associated with a square matrix. They have many applications in physics, engineering, and computer science.

In [9]:
# create a 2x2 matrix
matrix = np.array([[1, 2], [3, 4]])

# compute the eigenvalues and eigenvectors
eigenvalues, eigenvectors = np.linalg.eig(matrix)

print("Eigenvalues:")
print(eigenvalues)

print("Eigenvectors:")
print(eigenvectors)

Eigenvalues:
[-0.37228132  5.37228132]
Eigenvectors:
[[-0.82456484 -0.41597356]
 [ 0.56576746 -0.90937671]]

Note that the eigenvalues are returned as a one-dimensional NumPy array, while the eigenvectors are returned as a two-dimensional NumPy array, where each column represents an eigenvector. The eigenvectors are normalized to have unit length. Additionally, the eigenvalues and eigenvectors are sorted in ascending order by default, but you can specify a different sorting order using the sort() method of the eigenvalues array.

#### symetric  matrix

In NumPy, a symmetric matrix is a square matrix that is equal to its transpose. In other words, if you flip the rows and columns of the matrix,it remains unchanged.( A^T = -A.)

#### Properties

Real Eigenvalues: All eigenvalues of a symmetric matrix are real. This property is known as the spectral theorem.

Orthogonal Eigenvectors: A symmetric matrix has a set of orthogonal eigenvectors, which means that the dot product of any two distinct eigenvectors is zero.

Diagonalization: A symmetric matrix can be diagonalized, which means that it can be expressed as a product of its eigenvectors and eigenvalues. This property is useful for various applications, including optimization problems, principal component analysis, and machine learning.

Positive Definiteness: A symmetric matrix is positive definite if all its eigenvalues are positive. Positive definite matrices have many important applications in optimization, statistics, and machine learning.

Positive Definite is a property of a symmetric matrix where all of its eigenvalues are positive. In other words, a symmetric matrix A is positive definite if and only if x^T A x > 0 for any non-zero column vector x. This property is denoted as A > 0.

Quadratic Forms: Symmetric matrices are useful for representing quadratic forms in mathematics and engineering. A quadratic form can be expressed as the dot product of a vector with a symmetric matrix multiplied by the same vector. This property is used in optimization problems and machine learning algorithms.

Transposition: A symmetric matrix is equal to its own transpose. This property allows for efficient computations and simplifies many mathematical calculations involving symmetric matrices.

Symmetric Matrices form a Vector Space: The set of all symmetric matrices of size n form a vector space of dimension n(n+1)/2, which means that they can be combined and multiplied by scalars.

In [13]:
import numpy as np
n = 5  # size of the square matrix
a = matrix = np.array([[1, 2], [3, 4]])  # generate a random square matrix
symmetric_matrix = a + a.T  # add the transpose of the matrix to itself

In [14]:
print(a)

[[1 2]
 [3 4]]

In [15]:
print(symmetric_matrix )

[[2 5]
 [5 8]]

#### Uses

Optimization: Many optimization problems in mathematics and engineering involve quadratic forms that can be represented using symmetric matrices. The properties of symmetric matrices, such as their positive-definiteness, make them useful in optimization algorithms.

Eigenvalue Problems: Eigenvalue problems for symmetric matrices have special properties that allow for efficient algorithms to solve them. These algorithms are used in many applications, including computer graphics, physics simulations, and data analysis.

Principal Component Analysis: Principal Component Analysis (PCA) is a statistical technique used to reduce the dimensionality of high-dimensional data. The technique involves finding the eigenvectors of the covariance matrix, which is a symmetric matrix.

Machine Learning: Symmetric matrices are used in various machine learning techniques, including kernel methods and support vector machines. These methods involve finding the similarities or distances between data points, which can be represented using a symmetric matrix.

#### skew symetric matrix

A skew-symmetric matrix is also a square matrix, but it satisfies the condition that the transpose of the matrix is equal to its negative. In other words, if you flip the rows and columns of the matrix and negate all the values, it remains unchanged. ( A^T = -A.)

Eigenvalues: The eigenvalues of a skew-symmetric matrix are purely imaginary or zero. In particular, if λ is an eigenvalue of A, then -λ is also an eigenvalue.

Diagonal: The diagonal entries of a skew-symmetric matrix are zero, since they are equal to their own negatives.

Orthogonal Matrix: The exponential of a skew-symmetric matrix A is an orthogonal matrix. That is, exp(A)^T exp(A) = exp(A) exp(A)^T = I, where I is the identity matrix.

Cross Product: The cross product of two vectors in three dimensions can be expressed as the matrix product of a skew-symmetric matrix and a column vector.

Determinant: The determinant of a skew-symmetric matrix is always zero, except when the matrix is a 2x2 matrix.

Rank: The rank of a skew-symmetric matrix is always even, since the determinant is zero

In [16]:
n = 5  # size of the square matrix
a = matrix = np.array([[1, 2], [3, 4]])   # generate a random square matrix
skew_symmetric_matrix = a - a.T  # subtract the transpose of the matrix from itself

In [17]:
print(a)

[[1 2]
 [3 4]]

In [18]:
print(skew_symmetric_matrix)

[[ 0 -1]
 [ 1  0]]

In [3]:
is_symmetric = np.allclose(symmetric_matrix, symmetric_matrix.T)
is_skew_symmetric = np.allclose(skew_symmetric_matrix, -skew_symmetric_matrix.T)

In [4]:
print(is_symmetric)

True

In [5]:
print(is_skew_symmetric)

True

Rotation: Skew-symmetric matrices can be used to represent 3D rotations in computer graphics, robotics, and aerospace engineering. Specifically, a skew-symmetric matrix A with a small angle θ represents a rotation matrix R given by R = I + sin(θ)A + (1 - cos(θ))A^2, where I is the identity matrix.

Angular Velocity: In physics, the angular velocity of a rotating object can be represented by a skew-symmetric matrix. The entries of the matrix correspond to the components of the angular velocity vector in a particular coordinate system.

Lie Groups: Skew-symmetric matrices are used to define Lie algebras, which are used to study Lie groups. Lie groups are mathematical objects that arise in many areas of mathematics, physics, and engineering.

Control Theory: Skew-symmetric matrices arise in the study of control theory, which is the mathematical study of controlling dynamical systems. Specifically, skew-symmetric matrices are used to model the dynamics of some systems, such as gyroscopes and rigid bodies.

Optimization: Skew-symmetric matrices play a role in optimization problems, particularly in the study of matrix optimization problems. For example, in the problem of finding the maximum determinant of a matrix with a given norm, skew-symmetric matrices can be used to construct the optimal matrix.